OneDayProjectMvc/OneDayProjectMvc/Service References/BasketItemServiceReference/BasketItemService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BasketItemService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64906/BasketItemService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64906/BasketItemService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64906/BasketItemService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelPoco" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBasketItemService_PopulateBasketAndProductKeys_InputMessage">
    <wsdl:part name="parameters" element="tns:PopulateBasketAndProductKeys" />
  </wsdl:message>
  <wsdl:message name="IBasketItemService_PopulateBasketAndProductKeys_OutputMessage">
    <wsdl:part name="parameters" element="tns:PopulateBasketAndProductKeysResponse" />
  </wsdl:message>
  <wsdl:message name="IBasketItemService_RemoveItemFromBasket_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveItemFromBasket" />
  </wsdl:message>
  <wsdl:message name="IBasketItemService_RemoveItemFromBasket_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveItemFromBasketResponse" />
  </wsdl:message>
  <wsdl:portType name="IBasketItemService">
    <wsdl:operation name="PopulateBasketAndProductKeys">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasketItemService/PopulateBasketAndProductKeys" message="tns:IBasketItemService_PopulateBasketAndProductKeys_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasketItemService/PopulateBasketAndProductKeysResponse" message="tns:IBasketItemService_PopulateBasketAndProductKeys_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveItemFromBasket">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasketItemService/RemoveItemFromBasket" message="tns:IBasketItemService_RemoveItemFromBasket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasketItemService/RemoveItemFromBasketResponse" message="tns:IBasketItemService_RemoveItemFromBasket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBasketItemService" type="tns:IBasketItemService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PopulateBasketAndProductKeys">
      <soap:operation soapAction="http://tempuri.org/IBasketItemService/PopulateBasketAndProductKeys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveItemFromBasket">
      <soap:operation soapAction="http://tempuri.org/IBasketItemService/RemoveItemFromBasket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BasketItemService">
    <wsdl:port name="BasicHttpBinding_IBasketItemService" binding="tns:BasicHttpBinding_IBasketItemService">
      <soap:address location="http://localhost:64906/BasketItemService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>